<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

	<title>Tistory by thymeleaf</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="/tistory/css/bootstrap.min.css">
    
    <!-- fontawesome -->
    <link rel="stylesheet" href="/tistory/fontawesome/css/all.css">
        
    <!-- drawer.css -->
    <link rel="stylesheet" href="/tistory/css/drawer.min.css">

    <!-- quill.snow.css -->
    <link rel="stylesheet" href="/tistory/css/quill.snow.css" >
    
    <!-- styles.css -->
    <link rel="stylesheet" href="/tistory/css/styles.css">
   
    <!-- katex.css -->
    <link rel="stylesheet" href="/tistory/css/katex.css">
    
    <!-- default.min.css -->
    <link rel="stylesheet" href="/tistory/css/default.min.css">
    
    <style>
    	a {
    		color: black;
    	}
    	a:hover {
    		text-decoration: none;
    	}
    	
    </style>
	
</head>
</html>